
# Folders
node_modules
.pnpm-store
dist
coverage
/src/tests
bruno

# Logs
npm-debug.log
pnpm-debug.log
yarn-error.log

# lock and docker files
package-lock.json
yarn.lock
Dockerfile
compose.yaml
compose.prod.yaml

# Hidden .* files
.env
.env.*
!.env.docker 
.git
.gitignore